:root {
  --color-1: #007cb7;
  --color-2: #011b33;
}
@font-face {
  font-family: mainFont;
  src: url(./fonts/ProductSans-Black.ttf);
}
@font-face {
  font-family: subFont;
  src: url(./fonts/ProductSans-Regular.ttf);
}
@font-face {
  font-family: subFont;
  src: url(./fonts/ProductSans-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: subFont;
  src: url(./fonts/ProductSans-Medium.ttf);
  font-weight: bold;
}
@font-face {
  font-family: subFont;
  src: url(./fonts/ProductSans-Bold.ttf);
  font-weight: 600;
}
* {
  font-family: subFont;
}
/* body {
  overflow: hidden;
} */
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none !important;
}
.pageContainer {
  background: #f7f7f7;
  display: flex;
}
.contentWrap {
  /* margin-left: 215px; */
  height: 100vh;
  overflow: auto;
  position: relative;
  flex: 1;
}
.pageContent .container {
  position: relative;
}
.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.profilePic {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 1px solid rgb(202, 202, 202);
  cursor: pointer;
  background-color: #f5f5f5;
  color: rgb(163, 163, 163);
}
.profilePic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profileModal.profilePic {
  width: 75px;
  height: 75px;
  font-size: 2rem;
}
.mainBtn {
  background: var(--color-1);
  border: 1px solid var(--color-1);
  border-radius: 50px;
  padding: 0.2em 1em;
  color: white;
  font-size: 0.8rem;
  text-transform: capitalize;
  transition: 0.2s ease;
}
.mainBtn:hover {
  background-color: var(--color-2);
  border: 1px solid var(--color-2);
  color: white;
}
.subBtn {
  background: inherit;
  border: 1px solid var(--color-1);
  border-radius: 50px;
  padding: 0.2em 1em;
  color: var(--color-1);
  font-size: 0.8rem;
  text-transform: capitalize;
  transition: 0.2s ease;
}
.subBtn:hover {
  background-color: var(--color-2);
  border: 1px solid var(--color-2);
  color: white;
}

/* HEADER */
.header {
  background-color: white;
  height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
}
.fullHeight {
  height: calc(100vh - 70px);
  overflow: auto;
  padding: 3em 0;
}

/* SIDEBAR */
.sidebar {
  background: var(--color-2);
  min-height: 100vh;
  width: 250px;
}
.sidebarHeader {
  height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.096);
  padding: 0 1.5em;
}
.sidebarNavContainer {
  padding: 1.5em;
}
.sidebarNav {
  border-radius: 5px;
  /* box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1); */
  margin-bottom: 0em;
  padding: 1em 0em;
  text-transform: capitalize;
  color: white;
  opacity: 0.6;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.sidebarNav:hover {
  /* background: #003b57; */
  transition: 0.2s ease;
  opacity: 1;
}
.sidebarNav.active {
  /* background: #1d3449; */
  color: white;
  opacity: 1;
}
.sidebarNavIcon {
  font-size: 1.5rem;
}
.sidebarNavText {
  margin-bottom: 0;
  margin-left: 1em;
}

/* NAVBAR */
.navbar {
  position: fixed !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  z-index: 99;
  background: white;
  height: 70px;
  display: flex;
  align-items: center;
  border-top: 1px solid #eeeeee;
  /* background: var(--color-2); */
  /* box-shadow: 0px -1px 25px rgba(0, 0, 0, 0.1); */
}
.navbar a {
  width: 33.3333%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33.3333%;
}
.navBtnIcon {
  font-size: 1.3rem;
  color: rgb(170, 170, 170);
}
.payBtn {
  color: var(--color-1);
  font-size: 2rem;
  opacity: 1;
}
.navBtnText {
  font-size: 0.7rem;
  color: grey;
  display: none;
}
.navBtn.active .navBtnIcon {
  color: black;
}
.navBtn.active .payBtn {
  color: var(--color-1);
}
.navBtn.active .navBtnText {
  color: var(--color-2);
}

/* STATS */
.statsCard {
  background: #fefeff;
  padding: 1em;
  border-radius: 5px;
  height: 100%;
  border: 1px solid #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.statsCardLabel {
  opacity: 0.6;
  text-transform: capitalize;
  font-size: 0.8rem;
}
.statsCardHeading {
  font-weight: bold;
  margin-bottom: 0.1em;
}
.cardBtn {
  background: var(--color-1);
  color: white;
  text-align: center;
  cursor: pointer;
}
.cardBtn .statsCardLabel {
  opacity: 1;
}
.cardBtn .cardBtnIcon {
  font-size: 2em;
}

/* TRANSACTIONS */
.transHistoryContainer {
  background: #fefeff;
  border-radius: 5px;
  border: 1px solid #eeeeee;
  padding: 0 0.5em;
}
.transHistoryCard {
  background: #fefeff;
  padding: 1em;
  height: 100%;
  border-bottom: 1px solid #eeeeee;
}
.transHistoryCard:last-child {
  border-bottom: none;
}
.transHistoryCardIcon {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
.transHistoryCardIcon.totalIcon {
  background: #011b3317;
  color: #011b33;
}
.transHistoryCardIcon.titheIcon {
  background: #567df41a;
  color: #567df4;
}
.transHistoryCardIcon.offeringIcon {
  background: #fbb13b21;
  color: #fbb03b;
}
.transHistoryCardIcon.seedIcon {
  background: #22b5731e;
  color: #22b573;
}
.transHistoryCardLabel {
  font-weight: bold;
  text-transform: capitalize;
}
.transHistoryText {
  font-size: 0.8rem;
  opacity: 0.6;
  text-transform: capitalize;
}
.transHistoryText-n {
  font-size: 0.9rem;
  opacity: 0.9;
  font-weight: 300;
}
.transHistoryAmount {
  font-weight: bold;
}

/* PAY PAGE */
.payCard {
  background: #fefeff;
  padding: 1em;
  border-radius: 5px;
  height: 100%;
  box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.payCardHeading {
  font-size: 1.3rem;
  text-transform: capitalize;
  margin-bottom: 0.2em;
}
.payCardText {
  font-size: 0.8rem;
  opacity: 0.6;
}
.payFormContainer {
  background: #fefeff;
  border-radius: 5px;
  border: 1px solid #eeeeee;
  padding: 1em 1.5em 2.6em;
}

/* PAY MODAL */
.modalContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.backdrop {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  top: 0;
}
.modalContent {
  width: 25vw;
  max-height: 80vh;
  background: white;
  border-radius: 5px;
  z-index: 1;
}
label {
  font-size: 1em;
  opacity: 0.6;
}
.inputContainer {
  border: 1px solid #eeeeee;
  border-radius: 5px;
  padding: 0.5em 1em;
  /* background: #f2f2f2; */
  width: 100%;
}
.inputContainer:focus {
  border: 1px solid #b6b6b6;
  outline: none;
}

/* SIGNUP PAGE */
.signUpContainer {
  background: #f7f7f7;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signUpFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.signUpForm {
  padding: 4em 2em;
  border: 1px solid #eeeeee;
  background: white;
  border-radius: 5px;
}
.signUpForm button {
  width: 100%;
  background: var(--color-1);
  border-radius: 5px;
  padding: 0.5em;
  color: white;
  border: none;
  transition: 0.2s ease;
}
.signUpForm button:hover {
  background: var(--color-2);
}
.panelTitle {
  color: rgb(66, 66, 66);
}

@media screen and (max-width: 768px) {
  .pageContainer {
    background: #f7f7f7;
  }
  .header {
    background: white;
    border: none;
    padding: 0em 1em;
    border-bottom: 1px solid #eeeeee;
  }
  .headerTitle {
    font-size: 1rem;
  }
  .fullHeight {
    padding: 1em;
    padding-bottom: 90px;
  }
  .statsCardContainer {
    background: var(--color-2);
    border-radius: 5px;
    height: 100%;
    /* box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.4); */
    padding: 0.5em 0.3em;
  }
  .statsCard {
    background: inherit;
    padding: 1em;
    border-radius: 5px;
    height: 100%;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    border: none;
  }
  .totalStatsCard {
    border-bottom: 1px solid #ffffff10;
  }
  .titheStatsCard {
    border: none;
  }
  .offeringStatsCard {
    border-right: 1px solid #ffffff10;
    border-left: 1px solid #ffffff10;
    border-bottom: none;
    border-radius: 0px;
  }
  .othersStatsCard {
    border: none;
  }
  .transHistoryContainer {
    padding: 0;
  }
  .transHistoryCardLabel {
    font-size: 0.8rem;
  }
  .transHistoryText {
    font-size: 0.7rem;
  }
  .transHistoryAmount {
    font-size: 0.8rem;
  }
  .transHistoryCardIcon {
    width: 35px;
    height: 35px;
  }
  .transHistoryCard {
    padding: 0.6em;
  }
  h5 {
    font-size: 1rem !important;
  }
  h3 {
    font-size: 1.2rem !important;
  }
  .statsCardLabel {
    font-size: 0.7rem;
  }
  .statsCardHeading {
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 0.1em;
    text-align: center;
  }
  .statsCarHeadingSmall {
    font-size: 0.8rem;
  }
  .modalContent {
    width: 75vw;
  }
  .signUpForm {
    padding: 2em 1em;
  }
}
